*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 2000px;
    margin: auto;
    
}

/* Caratteristiche - Header */

header{
    background-color:lightblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.info{
    background-color: goldenrod;
    border: 2px dashed black;
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
}

#logo{
    padding-left: 0.5em;
}

#link{
    justify-content: center;
    width: 800px;
}

#login{
    justify-content: right;
    padding-right: 0.5em;
}

/* Caratteristiche - Main */

section{
    height: 700px;
    border: 2px solid black;
}

/* Section Blue */
.blue{
    background-color: rgb(0, 0, 140);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viol{
    background-color: rgb(198, 108, 206);
    border: 2px dashed black;
    width: 1000px;
    height: 400px;
}

/* Sections White */
.white{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#azure{
    background-color:dodgerblue;
    border: 2px dashed black;
    width: 800px;
    height: 600px;
}

#pink{
    background-color: pink;
    border: 2px dashed black;
    width: 500px;
    height: 600px;
}

/* Sections Grey */
.grey{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.foot{
    height: 900px;
}

#green{
    background-color: darkgreen;
    width: 1300px;
    height: 800px;
}

/* Section Dark */
.dark{
    background-color: rgb(36, 35, 35); 
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#darkpink{
    background-color: rgb(255, 149, 193);
    border: 2px dashed black;
    margin-bottom: 2em;
    width: 420px;
    height: 580px; 
}

#lgreen{
    background-color: rgb(95, 160, 135);
    border: 2px dashed white;
    margin-bottom: 2em;
    width: 220px;
    height: 580px;
}

/* Caratteristiche - Footer */

footer{
    background-color: rgb(36, 35, 35); 
    height: 100px; 
    border: 1px solid white; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fcontainer{
    background-color: aquamarine;
    width: 1300px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    background-color: pink;
    border: 2px dashed black;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}
